<div class='session'>
  <%= form_for(:employees, url: login_path) do |f| %>
    <div class='form-group'>
      <%= f.label 'アカウント', class: 'form-label' %>
      <%= f.text_field :account, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label 'パスワード', class: 'form-label' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <%- if flash[:alert] %>
      <div class='form-group'>
        <p><%= flash[:alert] %></p>
      </div>
    <% end %>
    <div class='row-center'>
      <p><%= f.submit 'ログイン',class: 'form-submit' %></p>
    </div>
  <% end %>
</div>
