<div class="employee_index">
  <% if flash.notice.present? %>
    <p><%= flash.notice %></p>
  <% end %>

  <% if current_user.employee_info_manage_auth %>
    <p class="new_employee"><%= link_to '新規追加', new_employee_path, class: 'btn' %></p>
  <% end %>

  <table class="employee_table">
    <thead>
      <tr>
        <th><%= sort_order "number", "社員番号" %></th>
        <th class="name">氏名</th>
        <th class="department_th"><%= sort_order "department_id", "所属" %></th>
      </tr>
    </thead>
    <tbody>
    <% @employees.each do |employee| %>
      <tr class="employee">
        <% if employee.profiles.active.present? %>
          <% if employee == current_user %>
            <th><%= link_to employee.number, edit_employee_profile_path(employee, employee.profiles.active.first) %></th>
          <% else %>
            <th><%= link_to employee.number, employee_profile_path(employee, employee.profiles.active.first) %></th>
          <% end %>
        <% else %>
          <th><%= link_to employee.number, employee_profiles_path(employee) %></th>
        <% end %>
        <th class="name"><%= "#{employee.last_name} #{employee.first_name}" %></th>
        <th><%= employee.department.name %></th>
        <% if current_user.employee_info_manage_auth %>
          <th class="btn_th"><%= link_to '編集', edit_employee_path(employee), class: 'btn' %></th>
          <th class="btn_th"><%= link_to '削除', employee, method: :delete, data: { confirm: "社員「#{employee.first_name} #{employee.last_name}」を削除します。よろしいですか？" }, class: 'btn' %></th>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
